@using System.Globalization
@using Umbraco.Cms.Web.Common
@using Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoGame.Models.ViewModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<AboutUsPageViewModel>
@inject UmbracoHelper umbracoHelper
@{
    Layout = "root.cshtml";
}

<main>
    <link rel="stylesheet" href="/css/aboutus.css">
    <header>
        <h1>@Model.Content.Value("title")</h1>
        <p>@Model.Content.Value("subtitle")</p>
        <div class="scroll-down-arrow">↓</div>
    </header>

    <section id="about">
        <div class="container">
            <h2 class="our-story">@Model.Content.Value("heading")</h2>
            <p>@umbracoHelper.GetDictionaryValue("story", @CultureInfo.CurrentCulture)</p>
        </div>
    </section>

    <section id="mission">
        <div class="container">
            <h2>@Model.Content.Value("vision")</h2>
            <p>@umbracoHelper.GetDictionaryValue("vision", @CultureInfo.CurrentCulture)</p>
        </div>
    </section>

    <section id="team">
        <div class="container">
            <h2>@umbracoHelper.GetDictionaryValue("meetteam", @CultureInfo.CurrentCulture)</h2>

            <div class="team-members">
                <div class="team-member">
                    <h3>Milan</h3>
                    <p>@umbracoHelper.GetDictionaryValue("milan", @CultureInfo.CurrentCulture)</p>
                </div>
                <div class="team-member">
                    <h3>Isse</h3>
                    <p>@umbracoHelper.GetDictionaryValue("ismail", @CultureInfo.CurrentCulture)</p>
                </div>
                <div class="team-member">
                    <h3>Berke</h3>
                    <p>@umbracoHelper.GetDictionaryValue("berke", @CultureInfo.CurrentCulture)</p>
                </div>
                <div class="team-member">
                    <h3>Yasin</h3>
                    <p>Community Manager</p>
                </div>
                <div class="team-member">
                    <h3>Mazen</h3>
                    <p>Community Manager</p>
                </div>
                <div class="team-member">
                    <h3>Bashir</h3>
                    <p>Community Manager</p>
                </div>
                <div class="team-member">
                    <h3>Angelo</h3>
                    <p>Community Manager</p>
                </div>
                <div class="team-member">
                    <h3>Raouf</h3>
                    <p>Community Manager</p>
                </div>
            </div>
        </div>
    </section>



    <section id="contact">
        <div class="container">
            <h2>@umbracoHelper.GetDictionaryValue("contactus", @CultureInfo.CurrentCulture)</h2>
            <p>@umbracoHelper.GetDictionaryValue("question", @CultureInfo.CurrentCulture)</p>
            <p>Email: <a href="mailto:contact@spelsidan.com">contact@spelsidan.com</a></p>
            <p>@umbracoHelper.GetDictionaryValue("phone", @CultureInfo.CurrentCulture): (+46) 739271848</p>
            <p>Adress: Nackademin, Tomteboda vägen 6</p>
            <p>@umbracoHelper.GetDictionaryValue("follow", @CultureInfo.CurrentCulture)</p>
            <div class="social-icons">
                <a href="#"><img src="https://img.icons8.com/color/48/000000/facebook-new.png" alt="Facebook"></a>
                <a href="#"><img src="https://img.icons8.com/color/48/000000/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="https://img.icons8.com/color/48/000000/instagram-new.png" alt="Instagram"></a>
            </div>
        </div>
    </section>


</main>